<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>Name:</td>
            <td>{{ details.Name }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ details.Email }}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{ details.Phone }}</td>
        </tr>
    </table>

<button><a href="{% url 'logout' %}"> logout </a></button>
</body>
</html>