{% extends 'app1/base.html' %}
{% block content %}
<form method="POST" action=" {% url 'update' userdata.id %}">
{% csrf_token %}
    <label for="">First name</label>
    <input type="text" placeholder="First Name" style="height:30px" value="{{userdata.Name}}" size="20" name="first"><br><br>
    <label for="">Last name</label>
    <input type="text" placeholder="Second Name" style="height:30px" value="{{userdata.Password}}" size="20" name="second"><br><br>
    <label for="">Phone</label>
    <input type="text" placeholder="Mobile Number" style="height:40px" value="{{userdata.Phone}}" size="60" name="number"><br><br>
    <label for="">Email</label>
    <input type="email" placeholder="Email" style="height:40px" value="{{userdata.Email}}" size="60" name="email"><br><br>
    <button type="submit">Submit</button>
</form>

{% endblock %} 